<h4>Available Credit Cards (from external API => <%= ENV['CREDIT_CARD_API_HOST'] %>:<%= ENV['CREDIT_CARD_API_PORT'] %>)</h4>

<table class="table table-sm">
	<thead class="thead-dark">
		<tr>
			<th>Number</th>
			<th>Code</th>
			<th>Current Amount</th>
		</tr>
	</thead>
	<tbody>
		<% credit_cards.each do |credit_card| %>
			<tr>
				<td><%= credit_card["number"] %></td>
				<td><%= credit_card["code"] %></td>
				<td><%= credit_card["current_amount"] %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= form_with url: purchase_check_credit_card_amount_index_path(purchase), method: :get, remote: true do |form| %>

	<div class="form-row">
	    <div class="col-md-4 mb-3">
	      <%= form.label :number %>
				<%= form.text_field :number, class: 'form-control' %>
	    </div>
	    <div class="col-md-4 mb-3">
	      <%= form.label :code %>
				<%= form.text_field :code, class: 'form-control' %>
	    </div>
	    <div class="col-md-4 mb-3">
	      <%= form.label :amount %>
	      <%= form.text_field :amount, value: purchase.amount, readonly: true, class: 'form-control' %>
	    </div>
	  </div>

	  <div class="alert alert-info">Interact with the API to know if the selected credit card is working and has funds pressing the Check button. Press the Purchase button to perform the payment and complete the purchase process.</div>

	<%= form.submit "Check", class: 'btn btn-primary' %>
	<%= form.submit "Purchase", class: 'btn btn-success' %>
<% end %>

<h4 class="api-response-title">Api Response</h4>
<textarea readonly id="check-credit-card-message" class="api-response-text" cols="100" rows="3"></textarea>

