<div class="alert alert-primary text-center">Results for: <%= @keywords %></div>

<div class="row">
	<div class="col-sm-2">
        <%= render partial: '/results/sidebar', locals: { title: 'Types', search: @search, objects: @types, object_key: :type, opts: @opts} unless @types.empty?%>
		<%= render partial: '/results/sidebar', locals: { title: 'Categories', search: @search, objects: @categories, object_key: :category_name, opts: @opts} unless @categories.empty? %>
		<%= render partial: '/results/sidebar', locals: { title: 'Brands', search: @search, objects: @brands, object_key: :brand, opts: @opts} unless @brands.empty?%>
	</div>


	<div class="col-sm-10">
		<%= render partial: '/results/table', locals: { records: @records } %>
	</div>
</div>