<p> Results for: <%= @keywords %></p>

<div class="col-sm-3">
	<h3>Categories</h3>
	<%= render partial: 'filters', locals: {search: @search, objects: @categories, object_key: :category_name, opts: @opts} %>
</div>

<div class="col-sm-3">
	<h3>Brands</h3>
	<%= render partial: 'filters', locals: {search: @search, objects: @brands, object_key: :brand, opts: @opts} %>
</div>


<table class="table">
	<thead>
		<tr>
			<th>Type</th>
			<th></th>
			<th>Overview</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<% @records.each do |record| %>
			<tr>
				<td><%= record.type %></td>
				<td><%= record.title %></td>
				<td><%= record.overview %></td>
				<td><%= record.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>