<div class="row">
	<div class="col-sm-12">

		<h4 class="product-title">Description</h4>

		<div class="card card-product">
		  <div class="card-header">
		  	<h4 class="card-title">
		  		<%= @product.name %>
		  		<span class="float-right">
				    <span class="badge badge-primary">
				    	<i id="rating-star" class="fa fa-star"></i>
				    	<span id="product-average-rating"><%= @product.decorate.average_rating %></span>
				    </span>
					</span>
				</h4>
		  </div>
		  <div class="card-body">
		  	<h6 class="card-title">Category: <%= @product.category_name %></h6>
		    <p class="card-text"><%= @product.description %></p>
		  </div>
		  <div class="card-footer text-left">
		  	Price: <%= number_to_currency(@product.price) %>
		  </div>
		  <div class="card-footer text-left">
		  	<div id="rateYo" data-product-id="<%= @product.id %>"></div> 
		  </div>

		</div>


		<h4 class="product-title">User Comments</h4>
		<%= render partial: 'product_comments', locals: { comments: @comments } %>
		<%= render partial: 'new_comment', locals: { product: @product } %>

		<h4 class="product-title">Purchase</h4>
		<%= render partial: 'product_purchase', locals: { product: @product } %>
	</div>

</div>

<script type="text/javascript">
	$(function () {
 
  $("#rateYo").rateYo({
    rating: 0,
    fullStar: true,
    onSet: function (rating, rateYoInstance) {
    	const productId = rateYoInstance.node.dataset.productId;
      $.ajax({
	      type: 'POST',
	      dataType: 'script',
	      data: {rating: rating},
	      url: '/products/'+ productId + '/rate',
	      cache: false,
	    })
	    .done(function(data){
	    })
	    .fail(function(){
	    });
    }
  });
 
});
</script>
