<!DOCTYPE html>
<html>
  <head>
    <title>ShopDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render partial: '/layouts/nav_bar' %>
      <% if notice && notice.present? %>
        <div class="alert alert-success text-center"><%= notice %></div>
      <% end %>

      <% if alert && alert.present? %>
        <div class="alert alert-danger text-center"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
