<!DOCTYPE html>
<html>
  <head>
    <title>ShopDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if ENV['ANALYTICS'] %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['ANALYTICS'] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV['ANALYTICS'] %>');
      </script>
    <% end %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: '/layouts/nav_bar' %>
    <div class="container">
      
      <% if notice && notice.present? %>
        <div class="alert alert-success text-center"><%= notice %></div>
      <% end %>

      <% if alert && alert.present? %>
        <div class="alert alert-danger text-center"><%= alert %></div>
      <% end %>

      <%= yield %>

    </div>
    <%= render partial: '/layouts/footer' %>
  </body>
</html>
